.send-btn {
      background-color: rgb(25, 135, 84);
      border: none;
      color: white;
      border-radius: 10px;
      padding: 12px 20px;
      margin: 10px;
    }

    .input-container {
      display: flex;
       margin-bottom: 16px;

    }

    .input {
      padding: 12px 15px;
      height: 15px;
      margin-top: 12px;
      font-size: 15px;
      border-radius: 10px;
      border-width: 1px;
      flex-grow: 1;

    }